http_server:
  addr: "127.0.0.1"
  port: 8080
  write_timeout_ms: 10000
  read_timeout_ms: 10000
  key_path: ""
  crt_path: ""

http_client:
  timeout_ms: 10000

storage:
  addr: "127.0.0.1"
  port: 9000
  user: "default"
  passwd: "123456"
  max_pings: 16
  default_db: "facedb"
  write_timeout_ms: 10000
  read_timeout_ms:  10000
  img_path: "/home/mikhail/Pictures/facedb"
  debug: false
  cosine_boundary: 0.95

face_recognizers:
  face_recognizers:
    - "http://127.0.0.1:8081"
    - "http://127.0.0.1:8082"
  aw_imgs_q_max_size: 128
  aw_imgs_q_clean_ms: 180000

control_panels:
  control_panels:
    - "http://127.0.0.1:9091"
  aco_q_max_size: 128
  aco_q_clean_ms: 180000
  ac_q_max_size: 128
  ac_q_clean_ms: 180000

logger:
  output: "stdout"
  use_colors: true
  use_timestamp: true
  timestamp_format: ""
  non_blocking: true
